 <%- layout('/layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-md-3">
        <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="image">Add More Image(s)</label>
                    <input type="file" class="form-control" id="image" name="image" multiple>
                  </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="0.00" name="campground[price]" required>
                    <span class="input-group-text">.00</span>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea name="campground[description]" cols="30" rows="10" class="form-control" type="text" id="description" required></textarea>
                </div> 
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="mb-3">
                    <% camp.images.forEach((img, i) => { %> 
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" value="<%=img.filename%>" id="image-<%=i%>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                    <% }) %> 
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Update Campground</button>
                </div>
            </form>
            <a href="/campgrounds">Back to Campgrounds</a>
    </div>
</div>
    